.splash-page {
  height: 100vh;
  background-color: #70b9be;
  background-image: url("../../../assets/images/Pattern.png");

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      color: #ffffff;
    }

    img {
      display: block;
      margin-inline: auto;
    }
  }
}
